body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Images/4b7bf485-ccc6-4cb1-b90b-cba47d74fd39.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: whitesmoke;
}